@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar para uma UI mais sutil e dark */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #475569; /* slate-600 */
  border-radius: 9999px;
  border: 2px solid transparent; /* Adiciona padding interno visual */
  background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #64748b; /* slate-500 */
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #475569 transparent;
}
